<h1 style="font-family: 'Oleo Script Swash Caps', cursive;">BestWebs.com</h1>

<style type="text/css">
	h2{
		font-family: 'Oswald', sans-serif;
	}

	p{
		font-family: 'Work Sans', sans-serif;
	}

	li{
		margin: 30px;
	}

	button{
		background-color: #e0da14;
	}

	
}


</style>




<div>
	<div style="border: 2px solid #54533b; float: left; width: 20%; margin-left: 1%; height: 3000px; background-color: #1890d6;">
    <h3 style="margin-left: 60px;">CONTENTS </h3>
    <ol>
    	<li>Overview</li>
    	<li>Cast and characters</li>
    	<ul>
    		<li>Main cast</li>
    		<li>Recurring cast</li>
    		<li>Guest cast</li>
    	</ul>
    	<li>Episodes</li>
    	<li>Production</li>
    	<ul>
    		<li>Development</li>
    		<li>Writing</li>
    		<li>Casting</li>
    		<li>Costume, set design, and filming</li>
    		<li>Music</li>
    </ul>
        <li>Marketing</li>
        <li>Reception</li>
        <ul>
        	<li>Critical reception</li>
        	<li>Viewership</li>
        	<li>Accolades</li>
        	<li>Public response and impact</li>
        </ul>
        <li>Themes and analysis</li>
        <ul>
        	<li>Capitalism and economic disparity</li>
        	<li>Other commentary</li>
        </ul>
        <li>Sequel</li>
        <li>See also</li>
        <li>Notes</li>
        <li>References</li>
        <li>External links</li>


	</div>


	<div style="border: 2px solid #54533b;float: left; width: 57%; margin-left: 4px;">	
		<div style="margin:7px 7px 7px 7px; border: 2px solid black; background-color: #c426c7;">
			<div style="margin-left: 30px; font-size: 20px;"><h2>Cobra Kai</h2></div>
			<div style="margin: 30px"><img src="https://play-lh.googleusercontent.com/K2ZH94JLx77RITqkCptrtfWgZD99VNu7zNLu-a-z0z17DQx_cGMI4wkfnJ6cqKm_xLg" style="width: 500px"></div>
			<div style="margin: 30px"><p><strong>Cobra Kai</strong> is an American martial arts comedy-drama television series and a sequel to the original The Karate Kid films by Robert Mark Kamen. The series was created by Josh Heald, Jon Hurwitz, and Hayden Schlossberg, and is distributed by Sony Pictures Television. It stars Ralph Macchio and William Zabka, who reprise their roles as Daniel LaRusso and Johnny Lawrence from the 1984 film The Karate Kid and its sequels, The Karate Kid Part II (1986) and The Karate Kid Part III (1989). Set 34 years later, Cobra Kai continues the original Karate Kid saga, last seen in The Next Karate Kid (1994). In particular, it re-examines the "Miyagi-Verse" narrative from Johnny's point of view, his decision to reopen the Cobra Kai karate dojo, and the rekindling of his old rivalry with Daniel.
					
			</p></div>
			    
                <h4 style="margin-left: 30px; margin-bottom: 30px; width: 40%">Release Date - 2 May 2018</h4>
				<a href="https://en.wikipedia.org/wiki/Cobra_Kai">
				<button type="button"  style="margin-left: 30px; margin-bottom: 20px; font-size: 20px;">
					Read more
				</button></a>
		</div>

 

<div style="margin:7px 7px 7px 7px; border: 2px solid black;background-color: #c426c7;">
			<div style="margin-left: 30px; font-size: 20px;"><h2>The End of the F...ing World</h2></div>
			<div style="margin: 30px"><img src="https://lucyforbes.tv/wp-content/uploads/2020/02/3-TEOTFW-1-1024x577.jpg" style="width: 500px"></div>
			<div style="margin: 30px;"><p><strong>The End of the F***ing World</strong> is a British dark comedy-drama television programme. The eight-part first series premiered its first episode on Channel 4 in the United Kingdom on 24 October 2017, after which the following episodes were released on All 4. Netflix handled international distribution and released it internationally on 5 January 2018. The programme follows James (Alex Lawther), a 17-year-old who believes himself to be a psychopath, and Alyssa (Jessica Barden), an angry classmate who sees in James a chance to escape from her tumultuous home life. Gemma Whelan, Wunmi Mosaku, Steve Oram, Christine Bottomley, Navin Chowdhry, Barry Ward and Naomi Ackie appear in supporting roles. 
					
			</p></div>
			    
                <h4 style="margin-left: 30px; margin-bottom: 30px; width: 40%">Publish Date - 24 October 2017</h4>
                <a href="https://en.wikipedia.org/wiki/The_End_of_the_F***ing_World">
				<button type="button"  style="margin-left: 30px; margin-bottom: 20px; font-size: 20px;">
					Read more
				</button></a>
		</div>

<div style="margin:7px 7px 7px 7px; border: 2px solid black;background-color: #c426c7;">
			<div style="margin-left: 30px; font-size: 20px;"><h2>Stranger Things</h2></div>
			<div style="margin: 30px"><img src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2021/06/Stranger-Things-Cast-Header.jpg" style="width: 500px"></div>
			<div style="margin: 30px"><p><strong>Stranger Things</strong> is an American science fiction horror drama television series created by the Duffer Brothers and streaming on Netflix. The brothers serve as showrunners and are executive producers along with Shawn Levy and Dan Cohen. The series premiered on Netflix on July 15, 2016. Set in the 1980s in the fictional town of Hawkins, Indiana, the first season focuses on the investigation into the disappearance of a young boy (Will Byers) amid supernatural events occurring around the town, including the appearance of a girl with psychokinetic abilities (Eleven). The series stars an ensemble cast including Winona Ryder, David Harbour, Finn Wolfhard, Millie Bobby Brown, Gaten Matarazzo, Caleb McLaughlin, Natalia Dyer, Charlie Heaton, Noah Schnapp, Sadie Sink, Joe Keery, Cara Buono, Dacre Montgomery, and Maya Hawke. 
			</p></div>
			    
                <h4 style="margin-left: 30px; margin-bottom: 30px; width: 40%">Release Date - 15 July 2015</h4>
				<a href="https://en.wikipedia.org/wiki/Stranger_Things">
				<button type="button"  style="margin-left: 30px; margin-bottom: 20px; font-size: 20px;">
					Read more
				</button></a>
		</div>

<div style="margin:7px 7px 7px 7px; border: 2px solid black;background-color: #c426c7;">
			<div style="margin-left: 30px; font-size: 20px;"><h2>Squid Game</h2></div>
			<div style="margin: 30px"><img src="https://www.prameyanews.com/wp-content/uploads/2022/01/squid.jpg" style="width: 500px"></div>
			<div style="margin: 30px"><p><strong>Squid Game</strong> was released worldwide on September 17, 2021, to critical acclaim and international attention. It is Netflix's most-watched series, becoming the top-viewed program in 94 countries and attracting more than 142 million member households and amassing 1.65 billion viewing hours during its first four weeks from launch, surpassing Bridgerton for the title of most watched show. The series has also received numerous accolades, including the Golden Globe Award for Best Supporting Actor – Series, Miniseries or Television Film for O Yeong-su and the Screen Actors Guild Award for Outstanding Performance by a Male Actor in a Drama Series and Outstanding Performance by a Female Actor in a Drama Series for Lee Jung-jae and HoYeon Jung, respectively, with all three making history as the first Korean actors to win in those categories. A second season is in development and slated to be completed and broadcast by 2024.
					
			</p></div>
			    
                <h4 style="margin-left: 30px; margin-bottom: 30px; width: 40%">Release Date - 17 September 2017</h4>
				<a href="https://en.wikipedia.org/wiki/Squid_Game">
				<button type="button"  style="margin-left: 30px; margin-bottom: 20px; font-size: 20px;">
					Read more
				</button></a>
		</div>




	</div>
	<div style="border: 2px solid #54533b; float: right; width: 20%; margin-right: 1%; height: 3000px; background-color: #1890d6">
	<h3 style="margin-left: 60px;">GENRE</h3>
      <ol>
    	<li>Action</li>
    	<li>Adventure</li>
    	<li>Animated</li>
    	<li>Comedy</li>
    	<li>Drama</li>
    	<li>Fantasy</li>
    	<li>Historical</li>
    	<li>Horror</li>
    	<li>Science Fiction</li>
    	<li>Thriller</li>
    </ol>

	</div>
</div>
  