<!-- <h1>Home</h1>

<div style="position: relative;border: 2px solid green;" >
	
	<div style=" height: 100px;background: skyblue; float: left;">kjfsdljgsdf</div>
	<div style="height: 500px;width: %; background: #eef8fc;float: left;">
		<div style="border: 3px solid #BFBFBF;margin: 5px;">
			<h1>this is my first post</h1>
			<p>01-12-2022</p>
			<hr>
			<div>
				<div>
					<img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>				
			</div>
		</div>
	</div>

	<div style="height: 100px; background: skyblue; float: right;">jjj</div>

</div> -->
<!-- /////////////////// -->


<html>
<head>
	<title>gfg</title>
	<style type=text/css>
		.leftdiv
		{
		float: left;
		}
		.middlediv
		{
		float: left;
		background-color:
		}
		.rightdiv
		{
		float: left;
		}
		div{
		padding : 1%;
		color: black;
		background-color: 009900;
		/*width: 30%;*/
		border: solid black;
		}
	</style>
</head>
<body>
	<div style="border: 1px solid green; width: 85%; margin-left: 6%; height: 100px"></div>
	<div style="border: 1px solid green; width: 85%; margin-left: 6%; height: 10px">This is manu-bar</div>
	<div class="leftdiv" style="width: 15%; margin-left: 6%; height: 700px;">
		<h1>Left sidebar</h1>
		
		<h2>news 1</h2>
		<p>This is left sidebar</p>
	</div>
	<!-- main article section -->
	<div class="middlediv" style="width: 50%; border: 4px solid red;">
		<div style="margin-bottom: 5px; border: 1px solid gray;">
			<h2>Articles section</h2>
			<img src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2020/08/breakingnews-live-blog-1568185450-1595123397-1597541756.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					
			</p>
			<h4 style="">Publish Date - 30 April 2022</h4>
			<a href="/home/contact">
				<button type="button"  style="margin-left: 800px; font-size: 20px;">
					Read more
				</button>
			</a>
		</div>


	
	
	</div>

	<div class="rightdiv" style="width: 15%; height:700px">
		<h1>Right sidebar</h1>
		<p> This is right sidebar</p>
	</div>
</body>
</html>










